<component name="ArtifactManager">
  <artifact type="war" name="spring-mvc-example:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="FreeLancing-Application.war">
      <element id="artifact" artifact-name="spring-mvc-example:war exploded" />
    </root>
  </artifact>
</component>